body{
    background-color: #24353f;
}
h1{
    color:#17a2b8;

}
.content{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);;
}
input{
color: white !important;
    background-color: transparent !important;

    
}
